html {
    scroll-behavior: smooth;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 10%,rgb(19, 204, 204) 120%);
}

body {
    background-color: rgb(148, 148, 148);
    font-family: Roboto, Arial;
    display: grid;
    grid-template-columns: 1fr;
    color: rgb(60, 60, 60);
    
}

.alku {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(pictures/front_pic.PNG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.tervetuloa {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 10%,rgb(19, 204, 204) 60%);
    position: absolute;
    display: flex;
    justify-content: right;
}

.viesti {
    position: absolute;
    color: white;
    font-size: 100px;
    top: 20%;
    width: 800px;
}


.header {
    background-color: rgb(19, 204, 204);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
}

.left-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    margin-right: 20px;
    width: 180px;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-right: 35px;
    max-width: 500px;
}

.right-side {
  display: grid;
  grid-template-columns: 45px 1fr;
  align-items: center;
}

.container {
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

a {
    background-color: rgb(19, 204, 204);
    color: white;
    height: 24px;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    margin-right: 10px;
}


a:hover{
    background-color: white;
    color: rgb(19, 204, 204);
}

svg:hover{
    fill: rgb(19, 204, 204);
}

.middleSection {
  border-radius: 50px;
  padding: 100px;
  position: absolute;
  top: 120%;
  left: 20%;
  right: 20%;
  background-color: white;
}

.logo {
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.panel {
    background-color: rgba(97, 94, 94, 0.432);
    width: 80%;
    border-radius: 20px;
    padding: 50px;
    z-index: 100;
    position: relative;

}

.etusivu,
.palvelut,
.portfolio,
.yhteystiedot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px;
    padding-top: 200px;
}

.tuote {
    display: flex;
    margin-bottom: 40px;
}

.mainos {
    height: 200px;
    margin-right: 30px;
    border-radius: 20px;
}

.malli {
    width: 100%;
}

.input {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-bottom: 5px;
}

.text {
    border: none;
    border-radius: 5px;
    background-color: white;
    resize: none;
}

.box {
    display: grid;
    margin-bottom: -25px;
    grid-template-columns: 20px 250px;
}

.submit {
    display: flex;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

button {
    background-color: rgb(19, 204, 204);
    color: white;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    border: none;
}

button:hover {
    background-color: white;
    color: rgb(19, 204, 204);
}

footer {
    margin-top: 80%;
}

.loppu
{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 30px;
    background-color: rgb(60, 60, 60);
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.tiedot {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.loppu p{
    margin-bottom: 0;
    margin-top: 8px;
}

.buddies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.kumppanit {
    width: 50%;
    margin-top: 30px;
}


.header .outer-container {
	position: absolute;
	right: 0;
	bottom: -2rem;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

.header .slider-container {
	position: relative;
}

.header .swiper-container {
	position: static;
	width: 80%;
	border-radius: 0.75rem;
}

.header .swiper-container img {
	border-radius: 0.75rem;
}

.header .swiper-button-prev:focus,
.header .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.header .swiper-button-prev {
	left: 0.25rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.header .swiper-button-next {
	right: 0.25rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}